<html>

<head>
  
    <title> Home </title>

    <link rel="stylesheet" href="style.css">

</head>
<body>
    <div class="hero">

        <video autoplay loop muted plays-inlines class="back-video">
            <source src="img/video.mp4" type="video/mp4">
        </video>

        <nav>
            <img src="img/logo.png" class="logo">
            <ul>
                <li> <a href="#"> Home </a> </li>
                <li> <a href="#"> Charging Stations </a> </li>
                <li> <a href="#"> SignUp </a> </li>
                <li> <a href="#"> Login </a> </li>
            </ul>
        </nav>

        <div class="content">
            <h1> Boost Your Energy </h1>
            <br>

            <p> Our EV charging stations provide efficient and convenient charging options,
                from home installation to public fast-charging network. Power up your EV now!! 
                with our fast, reliable, and eco-friendly charging solutions. Find a charging stations 
                near you!!
            </p>

            <a href="#"> Book Now </a>
        </div>

    </div>

    
        <!--creating a responsive footer-->
        <section class="footer">

            <div class="social">

                <!--Instagram icon-->
                <a href="#"><i class="fa fa-brands fa-instagram" aria-hidden="true"></i></a>

                <!--whatsapp icon-->
                <a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>


                <!--facebook icon-->
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>

                <!--linkedin icon-->
                <a href="#"><i class="fa fa-brands fa-linkedin" aria-hidden="true"></i></a>

               
                


            </div>

            <ul>

               <li>
                    <a href="{% url '' %}">Home</a>
                </li>
                
                <li>
                    <a href="{% url 'about_us' %}">About Us</a>
                </li>

                <li>
                    <a href="{% url 'contact_us' %}">Contact Us</a>
                </li>

            </ul>

            <p class="copy-right">Copyright @2025 al right reserved by TheVoltHub</p>

        </section>

    


</body>




